<ion-view class="bg_img">
<ion-header-bar align-title="center" class="bar-clear" style="height:80px;padding:0px">

        <div class="header-cls" style="text-align:center;width: 100vw;height:80px;background-color:transparent">
           <h1> Where is your OPen2 talking place?</h1>
        </div>



    </ion-header-bar>
<ion-content >

   
<div class="list">

  

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    Check mail
  </a>
 <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    Check mail
  </a>


</div>



</ion-content>
<div class="addb" ui-sref="notification" >
        <a >
          <img src="img/add.png" />
        </a>
      </div>
<div class="prevb" ui-sref="menu"><span><i class="ion-chevron-left" style="position: absolute;bottom: -10px;left: 22px;"></i></span></div>
</ion-view>