<ion-view class="">

    <ion-header-bar align-title="center" class="bar-clear" style="height:80px;padding:0px">
        <div class="header-cls" style="text-align:center;width: 100vw;height:80px;padding-top: 16px;">  
            <h4 style="color: white;"> Where is your OPen2 talking place?</h4>
        </div>
    </ion-header-bar>
<ion-content>


       

            <div class="" style="margin-left: 45px;margin-right: 45px;margin-top: 120px;">
                <div class="box-input" style="border: 1px solid white;border-radius: 10px;">
                    <input type="text" class="green" placeholder="Current Location" />
                    <hr>
                    <input class="red" type="text" placeholder="Enter Location" />
                </div>
            </div>


       



    </ion-content>


    <div class="prevb" ui-sref="menu"><span><i class="ion-chevron-left" style="position: absolute;bottom: -10px;left: 22px;"></i></span></div>
    <div class="nextb" ui-sref="select"><span><i class="ion-chevron-right" style="position: absolute;bottom: -10px;right: 24px;"></i></span></div>
</ion-view>