<ion-view class="">

<ion-header-bar align-title="center" class="bar-clear" style="height:80px;padding:0px">

        <!-- <div class="header-cls" style="text-align:center;width: 100vw;height:80px;background-color:transparent">
           <h1> Where is your OPen2 talking place?</h1>
        </div> -->
        <div class="header-cls" style="text-align:center;width: 100vw;height:80px">
            <div class="buttons navicon-btn">
               <!--  <button class="button-icon ion-navicon" style="color:white" ng-click="openModal()"></button> -->
            </div>
            <h4> Where is your OPen2 talking place?</h4>
        <!-- <img src="img/o2-logo-app-icon.png" width="70"/> -->
        </div>

<!-- 
         <div class="container-fluid p0 heading"><h2>Where is your Open2 Taking Place ?</h2></div> -->



    </ion-header-bar>
<ion-content >

   
<div class="list">

  

 <div class="container box-input"><div class="box-input"><input type="text" class="green" placeholder="Current Location"/><hr><input  class="red" type="text" placeholder="Enter Location"/></div></div>


</div>



</ion-content>


<div class="prevb" ui-sref="menu"><span><i class="ion-chevron-left" style="position: absolute;bottom: -10px;left: 22px;"></i></span></div>
<div class="nextb" ui-sref="select"><span><i class="ion-chevron-right" style="position: absolute;bottom: -10px;right: 24px;"></i></span></div>
</ion-view>