<ion-view class="bg_img" >
<ion-content >  
<div style="margin-top: 244px;    margin-left: 20px;">
 <img src="img/open2-logo.png" width="50%" />
</div>
<div class="text-center" style="margin-top: 140px;  " >
<a ng-click="login()"><img src="img/facebook.png" width="60%" /></a>
</div>

</ion-content>
<div class="bar bar-footer " style="background: none;">
  <div class="row" >
            <div class="col text-center fmenu">
              <ul>
                <li >2017 Open2.co.Inc</li>
                <li><a href="#">Legal Polices</a></li>
              </ul>
            </div>
          </div>
</div>
</ion-view>

