<ion-view class="bg_img" >
<ion-content >
<div style="margin-top: 244px;    margin-left: 20px;">
 <img src="img/open2-logo.png" width="50%" />
</div>
<div class="text-center" style="margin-top: 50px;" >
<a ui-sref="menu" ><img src="img/facebook.png" width="60%" /></a>
</div>
<div class="row" style="    margin-top: 36px;">
            <div class="col text-center fmenu">
              <ul>
                <li>2017 Open2.co.Inc</li>
                <li><a href="#">Legal Polices</a></li>
              </ul>
            </div>
          </div>
</ion-content>
</ion-view>
  <!-- <ion-content class="scroll scroll-content ionic-scroll splashMain">
    <div class="launch">
      <div class="container">
        <div class="col-lg-12 gape"></div>
        <div class="col-sm-8 col-xs-8 col-md-5 logo col-lg-4"><img src="img/open2-logo.png" /></div>
        <div class="row">
          <div class="col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-offset-2 col-xs-8 col-md-8 col-lg-4 col-lg-offset-4 login">
            <a ng-click="login()"><img src="img/facebook.png" width="100%" /></a>
          </div>
        </div>
        <footer>
          <div class="row">
            <div class="col-lg-12 text-center fmenu">
              <ul>
                <li>2017 Open2.co.Inc</li>
                <li><a href="#">Legal Polices</a></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </ion-content> -->

