<ion-view>
    <ion-header-bar align-title="center" class="bar-clear" style="height:80px;padding:0px">

        <div class="header-cls" style="text-align:center;width: 100vw;height:80px">
            <div class="buttons navicon-btn">
                <button class="button-icon ion-navicon" style="color:white" open-modal></button>
            </div>
            <img src="img/o2-logo-app-icon.png" width="70" />
           
        </div>
        <a class="pull-right ws" href="#"><img class="share" src="img/share.png" /></a>


    </ion-header-bar>
    <ion-content style="top:52px;bottom:65px">
        <div class="container-fluid p0" id="menu1" style="height:100%;position:relative;">
           

        </div>


    </ion-content>
    <div class="bar bar-footer" style="height: 80px;border-top-width: 0px;
    border-bottom-width: 0;background-position: bottom; background-color:transparent;   padding: 0px;">
      <!--  <img src="img/footerwhite.png" />-->
    
        <div class="row text-center" style="background-image: url(img/footerbg.png);
    max-height: 80px;
    background-size: cover;border:none">
            <div class="col col-25" ng-click="openModal()" ng-class="(isShown1)?'opaque_img':'abc'">  <img src="img/exit.png" width="80" /></div>
            <div class="col col-25" ng-class="(isShown1)?'opaque_img':'abc'">  <img src="img/message.png" width="80" /></div>
            <div class="col col-25" ng-class="(isShown1)?'opaque_img':'abc'">  <img src="img/users.png" width="80" /></div>
            <div class="col col-25" ng-class="(isShown1)?'opaque_img':'abc'">  <img src="img/strobe.png" width="80" /></div>
        </div>
    </div>

</ion-view>