<ion-view>
    <ion-header-bar align-title="center" class="bar-clear" style="height:80px;padding:0px" ng-show="currentPage=='menu'">

        <div class="header-cls" style="text-align:center;width: 100vw;height:80px">
            <div class="buttons navicon-btn">
                <open-modal map="map"><button class="button-icon ion-navicon" style="color:white"></button></open-modal>
            </div>
            <img src="img/o2-logo-app-icon.png" width="70" />
        </div>



    </ion-header-bar>
    <ion-header-bar align-title="center" class="bar-clear" style="height:80px;padding:0px" ng-show="currentPage=='chooseEvents'">
        <div class="header-cls" style="text-align:center;width: 100vw;height:80px;padding-top: 12px;">
            <h4 style="color: white;    font-size: 16px;
    font-weight: 600;">
                Select an open 2 experience
            </h4>
        </div>
    </ion-header-bar>
    <ion-header-bar align-title="center" class="bar-clear" style="height:80px;padding:0px" ng-show="currentPage=='location'">
        <div class="header-cls" style="text-align:center;width: 100vw;height:80px;padding-top: 10px;">
            <h4 style="color: white;    font-size: 14px;
    font-weight: 600;">
                Where is your OPen2 talking place?
            </h4>
        </div>
    </ion-header-bar>
    <ion-header-bar align-title="center" class="bar-clear" style="height:80px;padding:0px" ng-show="currentPage=='chooseEvents'">
        <div class="header-cls" style="text-align:center;width: 100vw;height:80px;padding-top: 10px;">
            <h4 style="color: white;    font-size: 14px;
    font-weight: 600;">
                Select an Open2 experience.
            </h4>
        </div>
    </ion-header-bar>
    <ion-header-bar align-title="center" class="bar-clear" style="height:80px;padding:0px" ng-show="currentPage=='createdEvents'">

        <div class="header-cls" style="text-align:center;width: 100vw;height:80px">
            <div class="buttons navicon-btn">
                <open-modal map="map"><button class="button-icon ion-navicon" style="color:white" ></button></open-modal>
            </div>
            <img src="img/o2-logo-app-icon.png" width="70" ui-sref="menu" />

        </div>
        <a class="pull-right ws" ng-click="shareLink()"><img class="share" src="img/share.png" /></a>


    </ion-header-bar>
    <ion-content ng-style="mapHeight">
            <div class="container-fluid p0" id="map" style="height:100%;position:relative;" ng-click="map.setClickable(true)">
               
                <div class="" ng-show="currentPage=='location'">
                    <center>
                        <div class="box-input">
                            <input type="text" style="border-radius: 10px 10px 0px 0px;" ng-class="(selectedLocation=='current')?'green':'red'" ng-click="selectedLocation='current';setCurrentLocation()" placeholder="Current Location" ng-model="currentLocation" readonly="" />
                            <hr>
                            <input style="border-radius: 0px 0px 10px 10px;" ng-class="(selectedLocation=='selectlocation')?'green':'red'" ng-click="selectedLocation='selectlocation'" type="text" placeholder="Enter Location" google-autocomplete-suggestion location="selectAutocompleteLocation" country-code="" on-selection="onAddressSelection(location)" ng-model="selectAutocompleteLocation.formatted_address" />

                            <!-- <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="location" current-location="true" /> -->

                            
                        </div>
                    </center>
                </div>
                <div class="selectbox" ng-show="currentPage=='chooseEvents'">
                    <div class="container text-center selectbox-inside">
                        <div class="row ">
                            <center style="width:100%;">
                                <img ng-src="{{selectedImage}}" src="img/select-event.png" style="width: 75px;margin: 0 auto;" />
                            </center>
                        </div>
                        <div class="row">
                            <p style="color: grey; width: 100%;margin: 0 auto;">{{eventText}}</p>
                        </div>
                        <div class="imgbox">
                            <a ng-repeat="img in eventImages"><img ng-src="{{img.imgSrc}}" ng-click="changeImage($index);" /></a>
                        </div>
                    </div>
                </div>
                <div class="nextb" ng-show="currentPage=='menu'" ng-click="nextPage()"><span><i class="ion-plus" style="position: absolute;bottom: -10px;right: 24px;"></i></span></div>
                <div class="prevb" ng-click="backPage()" ng-hide="currentPage=='menu'||currentPage=='createdEvents'"><span><i class="ion-chevron-left" style="position: absolute;bottom: -10px;left: 22px;"></i></span></div>
                <div class="nextb" ng-click="nextPage()" ng-hide="currentPage=='menu'||currentPage=='createdEvents'" ng-show="notSelectedEvent"><span><i class="ion-chevron-right" style="position: absolute;bottom: -10px;right: 24px;"></i></span></div>

            </div>
       
           

       
       
    </ion-content>
    <!--<ion-footer-bar style="height: 80px;border-top-width: 0px;
    border-bottom-width: 0;background-position: bottom; background-color:transparent;   padding: 0px;">
      
    </ion-footer-bar>-->
    <div class="bar bar-footer bar-footer-cls" ng-show="currentPage=='createdEvents'">
     <span class="back-img" ng-show="backArrow" ng-click="firstFooterShow()"><img src="img/back.png"/></span>
        <p class="bg-img-txt" ng-show="(select.selectedText==0)">{{bg_text}}{{select.selectedText}}</p>
        <p class="bg-img-txt" ng-click="sendNotification()" ng-show="(select.selectedText>0)">Send Message <i class="icon ion-android-send"></i></p>
        <div class="row text-center background_footer" ng-show="backTemplates&&!profileShow">
          
                <div class="col col-25" ng-click="openModal()" ng-class="(isShown1)?'opaque_img':'abc'">  <img src="img/exit.png" width="80" /></div>
                <div class="col col-25" ng-class="(isShown1)?'opaque_img':'abc'" ng-click="sendMessage()">  <img src="img/message.png" width="80" /></div>
                <div class="col col-25" ng-class="(isShown1)?'opaque_img':'abc'" ng-click="showProfile()">  <img src="img/users.png" width="80" /></div>
                <div class="col col-25" ng-click="showFlashModal()" ng-class="(isShown1)?'opaque_img':'abc'">  <img src="img/strobe.png" width="80" /></div>
           
           
        </div>
        <div class="text-center background_footer"  ng-show="!backTemplates">
            <div  style="margin-top:15px;text-align:center;">
                <p ng-repeat="templates in messageTemplates" ng-class="(select.selectedText==templates.id)?'template-message':'template-message-opaque'" ng-click="select.selectedText=templates.id">{{templates.text}} {{select.selectedText}}{{templates.id}} </p>
            </div>
           
        </div>
        <div class="background_footer" ng-show="profileShow">
           
          <span class="arrow-left" ng-click="slidePrevious()"><i class="icon ion-arrow-left-b icon-arrow"></i></span>
        <ion-slide-box    show-pager="false" style="bottom:-21px;">
            <ion-slide ng-repeat="img in joinedPeople track by $index" ng-if="(($index)%3==0)?true:false">
                
                    <div class="box blue" style="height:60px;float:left"><img ng-src="{{joinedPeople[$index].PhotoUrl}}" height="60" width="60" /></div>
                    <div class="box yellow" style="height:60px;float:left"><img height="60" width="60" ng-src="{{joinedPeople[$index+1].PhotoUrl}}" /></div>
                    <div class="box pink" style="height:60px;float:left"><img height="60" width="60" ng-src="{{joinedPeople[$index+2].PhotoUrl}}" /></div>
                
            </ion-slide>
          
      
        </ion-slide-box>
            <span class="arrow-right" ng-click="slideNext()"><i class="icon ion-arrow-right-b icon-arrow"></i></span>
        </div>

        
    </div>

   </ion-view>