<ion-view class="bg_img_blue">
    <ion-header-bar align-title="center" class="bar-clear" style="height:80px;padding:0px">

        <div class="header-cls" style="text-align:center;width: 100vw;height:80px">
            <div class="buttons navicon-btn">
                <button class="button-icon ion-navicon" style="color:white" ng-click="openModal()"></button>
            </div>
            <img src="img/o2-logo-app-icon.png" width="70" />
        </div>
       


    </ion-header-bar>
<ion-content>
<div class="bar bar-subheader" style="background: none;">
  <h2 class="title"></h2>
</div>



</ion-content>

</ion-view>