<ion-view class="bg_img">
<ion-content >
<div class="text-center logo2"><img src="img/o2-logo.png"/></div>
<div class="text-center">
    <div class="">
      <h2>Notification</h2>
      <hr style="width: 75%;background: white;">
    </div>
  </div>

  <ul class="list">

 <li class="item item-toggle" style="background: none;
    border: none;color: white;">
     When Some one Join your open2
     <label class="toggle ">
       <input type="checkbox">
       <div class="track" style="border-color: white;background-color: white;">
         <div class="handle" style="background-color: #52d477;"></div>
       </div>
     </label>
  </li>

   <li class="item item-toggle" style="background: none;
    border: none;color: white;">
     When Some one Join your open2
     <label class="toggle ">
       <input type="checkbox">
       <div class="track" style="border-color: white;background-color: white;">
         <div class="handle" style="background-color: #52d477;"></div>
       </div>
     </label>
  </li>

   <li class="item item-toggle" style="background: none;
    border: none;color: white;">
     When Some one Join your open2
     <label class="toggle ">
       <input type="checkbox">
       <div class="track" style="border-color: white;background-color: white;">
         <div class="handle" style="background-color: #52d477;"></div>
       </div>
     </label>
  </li>

   <li class="item item-toggle" style="background: none;
    border: none;color: white;">
     When Some one Join your open2
     <label class="toggle ">
       <input type="checkbox">
       <div class="track" style="border-color: white;background-color: white;">
         <div class="handle" style="background-color: #52d477;"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle" style="background: none;
    border: none;color: white;">
     When Some one Join your open2
     <label class="toggle ">
       <input type="checkbox">
       <div class="track" style="border-color: white;background-color: white;">
         <div class="handle" style="background-color: #52d477;"></div>
       </div>
     </label>
  </li>
</ul>





</ion-content>
<div class="prevb" ui-sref="menu"><span><i class="ion-chevron-left" style="position: absolute;bottom: -10px;left: 22px;"></i></span></div>
</ion-view>