<ion-view class="">

<ion-header-bar align-title="center" class="bar-clear" style="height:80px;padding:0px">
        <div class="header-cls" style="text-align:center;width: 100vw;height:80px;padding-top: 10px;">  
            <h4 style="color: white;    font-size: 16px;
    font-weight: 600;">Take a Picture for this experience</h4>
        </div>
    </ion-header-bar>

<ion-content style="background-color: #F8F8F8;">

<div class="container-fluid p0 camera" ><img ng-src="{{imageURL ? imageURL : 'img/camera.png'}}" width="100%"/></div>

    <div style="width: 100vw;margin: 0 auto;bottom: 0px;position: absolute;">
        <div class="container-fluid p0 text-center cbutton" ng-click="init()"></div>
    </div>



</ion-content>


<div class="prevb" ui-sref="menu"><span><i class="ion-chevron-left" style="position: absolute;bottom: -10px;left: 22px;"></i></span></div>
<div class="skip" ui-sref="menu"><p>Skip</p></div>
</ion-view>