<ion-view style="background:transparent;">

    <ion-content style="top:100px">
        <div class="modal-content" style="display:flex;height:73vh">
            <div class="modal-body" style="align-self:center">
                <div class="mes" style="margin-top: 50px;padding-bottom:30px;padding-left: 16px;padding-right: 16px;">
                    <p style="text-align: center;font-size: 20px;color:grey;">Rate This User</p>
                    <textarea placeholder="Type details here"></textarea>
                </div>
                <div class="drop-btn1" ui-sref="popup1"><p>Report</p></div>
            </div>
        </div>
        <a>
            <img src="img/back.png" ng-click="closeModal()" style="position: absolute;
    /* height: 10px; */
    left: -20px;" />
        </a>
    </ion-content>

</ion-view>