<ion-view class = "bg_img">
    
    <ion-content >
       
        <div style="margin-top: 244px;    margin-left: 20px;">
            <img src="img/open2-logo.png" width="50%" />
        </div>

    </ion-content>

    <div class="bar bar-footer bar-footer-cls" ng-show="currentPage=='createdEvents'">
        <span class="back-img" ng-click="flashModal.hide();map.setClickable(true)"><img src="img/back.png" /></span>
        <p class="bg-img-txt">Be spotted</p>
        <div class="row text-center background_footer">
            <p style="text-align:center;text-align: center;
    margin-top: 22px;
    padding: 0 40px 0 40px;
    font-size: 16px;
    color: white;">
                Hold your phone out so other Open2ers can spot you in the crowd.
            </p>
           
        </div>
      


    </div>


   

</ion-view>