<ion-view class="bg_img">
    <ion-header-bar align-title="center" class="bar-clear" style="height:80px;padding:0px">

        <div class="header-cls" style="text-align:center;width: 100vw;height:80px;background-color:transparent">
            <div class="buttons navicon-btn">
                <button class="button-icon ion-navicon" style="color:white" ng-click="modal.hide()"></button>
            </div>
            <img src="img/o2-logo-app-icon.png" width="70" />
        </div>



    </ion-header-bar>
    <ion-content style="top:100px">
        <div class="list lst-nav">
            <div class="item" ng-click="modal.hide()">
                Invite friends
            </div>
            <div class="item" ui-sref="notification" ng-click="modal.hide()">
                Notification
            </div>
            <div class="item" ng-click="modal.hide()">
                App Feedback
            </div>
            <div class="item" ng-click="modal.hide()">
                Approve Open2ers
            </div>
        </div>



    </ion-content>

</ion-view>